src/main/resources/documentModule.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://edms.com/documentModule" xmlns:tns="http://edms.com/documentModule"
	elementFormDefault="qualified">

	<xs:element name="getSharedFoldersRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getSharedFoldersResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="GetSharedFolders"
					type="tns:FolderListReturn" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="getSharedFoldersByPathRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userid" type="xs:string" />
				<xs:element name="path" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getSharedFoldersByPathResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1"
					name="GetSharedFoldersByPath" type="tns:FolderListReturn" />
			</xs:sequence>
		</xs:complexType>
	</xs:element> 

	<xs:element name="getRecycledDocsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userid" type="xs:string" />
				<xs:element name="path" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getRecycledDocsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="getRecycledDocs" type="tns:filesAndFolders" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>



	<xs:element name="getFolderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getFolderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1"
					name="GetFoldersByParentFolder" type="tns:FolderListReturn" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="FolderListReturn">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="Success"
				type="xs:boolean" />
			<xs:element minOccurs="0" maxOccurs="1" name="FolderListResult"
				type="tns:ArrayOfFolders" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfFolders">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="FolderList"
				nillable="true" type="tns:Folder" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Folder">
		<xs:sequence>
			<xs:element name="folderName" type="xs:string" />
			<xs:element name="parentFolder" type="xs:string" />
			<xs:element name="createdBy" type="xs:string" />
			<xs:element name="folderPath" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="keywords"
				type="xs:string" />
			<xs:element name="notes" type="xs:string" />
			<xs:element name="creationDate" type="xs:string" />
			<xs:element name="modificationDate" type="xs:string" />
			<xs:element name="no_of_folders" type="xs:string" />
			<xs:element name="no_of_documents" type="xs:string" />
			<xs:element name="recycle" type="xs:boolean" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="folderVersionsHistory" type="tns:folderVersionDetail" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="user_read"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="user_write"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="user_delete"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="user_security"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="group_read"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="group_write"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="group_delete"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="group_security"
				type="xs:string" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="folderVersionDetail">
		<xs:sequence>
			<xs:element name="versionName" type="xs:string" />
			<xs:element name="createdBy" type="xs:string" />
			<xs:element name="versionPath" type="xs:string" />
			<xs:element name="details" type="xs:string" />
			<xs:element name="notes" type="xs:string" />
			<xs:element name="creationDate" type="xs:string" />
			<xs:element name="versionLabel" type="xs:string" />
			
		</xs:sequence>
	</xs:complexType>
	<xs:element name="hasChildRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="hasChildResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="hasChild"
					type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="createFolderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderName" type="xs:string" />
				<xs:element name="parentFolder" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
				<xs:element name="keywords" type="xs:string" />
				<xs:element name="notes" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="createFolderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folder" type="tns:Folder" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getFolderByPathRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="getFolderByPathResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folder" type="tns:Folder" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="shareFolderByPathRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
				<xs:element name="users" type="xs:string" />
				<xs:element name="groups" type="xs:string" />
				<xs:element name="grouppermissions" type="xs:string" />
				<xs:element name="userpermissions" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="shareFolderByPathResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="shareResponse" type="xs:string" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="assignSinglePermissionRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
				<xs:element name="user" type="xs:string" />
				<xs:element name="value" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="assignSinglePermissionResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="assignSinglePermissionResponse" type="xs:string" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="deleteFolderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="deleteFolderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="deleteFolderResponse" type="xs:string" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>




	<xs:element name="recycleFolderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="recycleFolderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="recycleFolderResponse" type="xs:string" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="addKeywordRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
				<xs:element name="keyword" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="addKeywordResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="addNotesRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
				<xs:element name="note" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="addNotesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="removeKeywordRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
				<xs:element name="keyword" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="removeKeywordResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="editKeywordRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
				<xs:element name="keyword" type="xs:string" />
				<xs:element name="editedKeyword" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="editKeywordResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="removeNotesRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
				<xs:element name="note" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="removeNotesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="restoreFolderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="restoreFolderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="restoreFolderResponse" type="xs:string" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="restoreVersionRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="versionName" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="restoreVersionResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="restoreVersionResponse" type="xs:string" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="recentlyModifiedRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="recentlyModifiedResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="recentlyModifiedFolders" type="tns:filesAndFolders" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


		<xs:complexType  name="filesAndFolders">
			<xs:sequence>
				<xs:element name="filesList" type="tns:ArrayOfFiles" />
				<xs:element name="foldersList" type="tns:ArrayOfFolders" />
				<xs:element name="success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>



	<xs:element name="renameFolderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="oldName" type="xs:string" />
				<xs:element name="newName" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="renameFolderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="renameFolderRes" type="tns:renameFolderRes" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="renameFolderRes">
		<xs:sequence>
			<xs:element name="Success" type="xs:boolean" />
			<xs:element name="response" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
   
   
	<xs:element name="searchDocByLikeRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="searchParamValue" type="xs:string" />
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="searchParam" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="searchDocByLikeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="searchedFolders" type="tns:filesAndFolders" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
   
	<xs:element name="searchDocByDateRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="searchParamValue" type="xs:string" />
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="searchParam" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="searchDocByDateResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="searchedFolders" type="tns:filesAndFolders" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
   
   
   
   
   <!-- 
    FILES PROCESSING START
    -->
    
    <xs:element name="getSharedFilesRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getSharedFilesResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="GetSharedFiles"
					type="tns:FileListReturn" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="getSharedFilesByPathRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userid" type="xs:string" />
				<xs:element name="path" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getSharedFilesByPathResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1"
					name="GetSharedFilesByPath" type="tns:FileListReturn" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
    <xs:element name="getSharedFilesWithOutStreamRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getSharedFilesWithOutStreamResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="GetSharedFiles"
					type="tns:FileListReturn" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="getSharedFilesByPathWithOutStreamRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userid" type="xs:string" />
				<xs:element name="path" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getSharedFilesByPathWithOutStreamResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1"
					name="GetSharedFilesByPath" type="tns:FileListReturn" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>



	<xs:element name="getFileRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FilePath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getFileResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1"
					name="GetFilesByParentFile" type="tns:FileListReturn" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getFileWithOutStreamRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FilePath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getFileWithOutStreamResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1"
					name="GetFilesByParentFile" type="tns:FileListReturn" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="FileListReturn">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="Success"
				type="xs:boolean" />
			<xs:element minOccurs="0" maxOccurs="1" name="FileListResult"
				type="tns:ArrayOfFiles" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfFiles">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="FileList"
				nillable="true" type="tns:File" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="File">
		<xs:sequence>
			<xs:element name="fileName" type="xs:string" />
			<xs:element name="parentFolder" type="xs:string" />
			<xs:element name="createdBy" type="xs:string" />
			<xs:element name="filePath" type="xs:string" />
			<xs:element name="fileSize" type="xs:long" />
			
			<xs:element name="fileContent" type="xs:base64Binary"/> 
			<xs:element minOccurs="0" maxOccurs="unbounded" name="keywords"
				type="xs:string" />
			<xs:element name="notes" type="xs:string" />
			<xs:element name="creationDate" type="xs:string" />
			<xs:element name="modificationDate" type="xs:string" />
			<xs:element name="recycle" type="xs:boolean" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="fileVersionsHistory" type="tns:fileVersionDetail" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="user_read"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="user_write"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="user_delete"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="user_security"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="group_read"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="group_write"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="group_delete"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="group_security"
				type="xs:string" />
		</xs:sequence>
	</xs:complexType>
<xs:complexType name="fileVersionDetail">
		<xs:sequence>
			<xs:element name="versionName" type="xs:string" />
			<xs:element name="createdBy" type="xs:string" />
			<xs:element name="versionPath" type="xs:string" />
			<xs:element name="details" type="xs:string" />
			<xs:element name="notes" type="xs:string" />
			<xs:element name="creationDate" type="xs:string" />
			<xs:element name="versionLabel" type="xs:string" />
			
		</xs:sequence>
	</xs:complexType>

	<xs:element name="createFileRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="fileName" type="xs:string" />
				
				<xs:element name="fileContent" type="xs:base64Binary" />
				<xs:element name="parentFile" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
				<xs:element name="keywords" type="xs:string" />
				<xs:element name="fileSize" type="xs:long" />
				<xs:element name="notes" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element> 
	<xs:element name="createFileResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="File" type="tns:File" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getFileByPathRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FilePath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="getFileByPathResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="File" type="tns:File" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getFileByPathWithOutStreamRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FilePath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="getFileByPathWithOutStreamResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="File" type="tns:File" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="shareFileByPathRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FilePath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
				<xs:element name="users" type="xs:string" />
				<xs:element name="groups" type="xs:string" />
				<xs:element name="grouppermissions" type="xs:string" />
				<xs:element name="userpermissions" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="shareFileByPathResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="shareResponse" type="xs:string" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="deleteFileRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FilePath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="deleteFileResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="deleteFileResponse" type="xs:string" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="recycleFileRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FilePath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="recycleFileResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="recycleFileResponse" type="xs:string" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="restoreFileRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FilePath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="restoreFileResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="restoreFileResponse" type="xs:string" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>



	<xs:element name="renameFileRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="oldName" type="xs:string" />
				<xs:element name="newName" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="renameFileResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="renameFileRes" type="tns:renameFileRes" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="renameFileRes">
		<xs:sequence>
			<xs:element name="Success" type="xs:boolean" />
			<xs:element name="response" type="xs:string" />
		</xs:sequence>
	</xs:complexType>



	<xs:element name="editFileRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="fileContent" type="xs:base64Binary" />
				<xs:element name="filePath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="editFileResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="editFileRes" type="tns:editFileRes" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="editFileRes">
		<xs:sequence>
			<xs:element name="Success" type="xs:boolean" />
			<xs:element name="response" type="xs:string" />
		</xs:sequence>
	</xs:complexType>


	<xs:element name="sortByPropertyRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="propertyName" type="xs:string" />
				<xs:element name="path" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="sortByPropertyResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sortByPropertyRes" type="tns:sortByPropertyRes" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="sortByPropertyRes">
		<xs:sequence>
			<xs:element name="Success" type="xs:boolean" />
			<xs:element name="response" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
<xs:element name="getVCFFileRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FilePath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
</xs:element>


	<xs:element name="getVCFFileResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1"
					name="GetVCFFilesByParentFile" type="tns:VCFFileListReturn" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="VCFFileListReturn">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="VCFSuccess"
				type="xs:boolean" />
			<xs:element minOccurs="0" maxOccurs="1" name="VCFFileListResult"
				type="tns:ArrayOfVCFFiles" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfVCFFiles">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="VCFFileList"
				nillable="true" type="tns:VCFFileAtt" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VCFFileAtt">
		<xs:sequence>
			<xs:element name="ContactEmail" type="xs:string" />
			<xs:element name="ContactPhoto" type="xs:string" />
			<xs:element name="ContactName" type="xs:string" />
			<xs:element name="ContactPhone" type="xs:string" />
			<xs:element name="ContactAddress" type="xs:string"/> 
			<xs:element name="ContactDept" type="xs:string"/> 
			<xs:element name="ContactFileName" type="xs:string"/> 
			</xs:sequence>
	</xs:complexType>
    <!-- 
    FILES PROCESSING END
    -->
    
	<xs:element name="moveDocRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="srcDocPath" type="xs:string" />
				<xs:element name="destDocPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="moveDocResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="copyDocRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="srcDocPath" type="xs:string" />
				<xs:element name="destDocPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="copyDocResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="setSortOrderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sortOrder" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="setSortOrderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>