src/main/resources/documentFolder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://edms.com/Folder" xmlns:tns="http://edms.com/Folder"
	elementFormDefault="qualified">

	<xs:element name="getSharedFoldersRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getSharedFoldersResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="GetSharedFolders"
					type="tns:FolderListReturn" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="getSharedFoldersByPathRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userid" type="xs:string" />
				<xs:element name="path" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getSharedFoldersByPathResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1"
					name="GetSharedFoldersByPath" type="tns:FolderListReturn" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getRecycledDocsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userid" type="xs:string" />
				<xs:element name="path" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getRecycledDocsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="GetRecycledDocs"
					type="tns:FolderListReturn" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>



	<xs:element name="getFolderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getFolderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1"
					name="GetFoldersByParentFolder" type="tns:FolderListReturn" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="FolderListReturn">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="Success"
				type="xs:boolean" />
			<xs:element minOccurs="0" maxOccurs="1" name="FolderListResult"
				type="tns:ArrayOfFolders" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrayOfFolders">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="FolderList"
				nillable="true" type="tns:Folder" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Folder">
		<xs:sequence>
			<xs:element name="folderName" type="xs:string" />
			<xs:element name="parentFolder" type="xs:string" />
			<xs:element name="createdBy" type="xs:string" />
			<xs:element name="folderPath" type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="keywords"
				type="xs:string" />
			<xs:element name="notes" type="xs:string" />
			<xs:element name="creationDate" type="xs:string" />
			<xs:element name="modificationDate" type="xs:string" />
			<xs:element name="no_of_folders" type="xs:string" />
			<xs:element name="no_of_documents" type="xs:string" />
			<xs:element name="recycle" type="xs:boolean" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="versionsHistory" type="tns:versionDetail" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="user_read"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="user_write"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="user_delete"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="user_security"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="group_read"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="group_write"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="group_delete"
				type="xs:string" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="group_security"
				type="xs:string" />
		</xs:sequence>
	</xs:complexType>


	<xs:complexType name="versionDetail">
		<xs:sequence>
			<xs:element name="versionName" type="xs:string" />
			<xs:element name="createdBy" type="xs:string" />
			<xs:element name="versionPath" type="xs:string" />
			<xs:element name="details" type="xs:string" />
			<xs:element name="notes" type="xs:string" />
			<xs:element name="creationDate" type="xs:string" />
			<xs:element name="versionLabel" type="xs:string" />
			
		</xs:sequence>
	</xs:complexType>
	<xs:element name="hasChildRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="hasChildResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="hasChild"
					type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="createFolderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderName" type="xs:string" />
				<xs:element name="parentFolder" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
				<xs:element name="keywords" type="xs:string" />
				<xs:element name="notes" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="createFolderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folder" type="tns:Folder" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getFolderByPathRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="getFolderByPathResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folder" type="tns:Folder" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="shareFolderByPathRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
				<xs:element name="users" type="xs:string" />
				<xs:element name="groups" type="xs:string" />
				<xs:element name="grouppermissions" type="xs:string" />
				<xs:element name="userpermissions" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="shareFolderByPathResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="shareResponse" type="xs:string" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="assignSinglePermissionRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
				<xs:element name="user" type="xs:string" />
				<xs:element name="value" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="assignSinglePermissionResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="assignSinglePermissionResponse" type="xs:string" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="deleteFolderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="deleteFolderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="deleteFolderResponse" type="xs:string" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>




	<xs:element name="recycleFolderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="recycleFolderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="recycleFolderResponse" type="xs:string" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:element name="restoreFolderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="restoreFolderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="restoreFolderResponse" type="xs:string" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>



	<xs:element name="restoreVersionRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="folderPath" type="xs:string" />
				<xs:element name="versionName" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="restoreVersionResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="restoreVersionResponse" type="xs:string" />
				<xs:element name="Success" type="xs:boolean" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>



	<xs:element name="renameFolderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="oldName" type="xs:string" />
				<xs:element name="newName" type="xs:string" />
				<xs:element name="userid" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="renameFolderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="renameFolderRes" type="tns:renameFolderRes" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="renameFolderRes">
		<xs:sequence>
			<xs:element name="Success" type="xs:boolean" />
			<xs:element name="response" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>